[2015-04-09 14:03] pimeo opened #1 "Cannot invoke 'sysctl' in swift 1.2"
Hey,

With the 1.2 new Swift version using your lib, I have this error:

`Cannot invoke 'sysctl' with an argument list of type '(inout [Int32], Int, inout [(CChar)], inout UInt, inout [Int32], Int)'`

for this block of code:

[code]

I tried to fix it ... without success. Can you see what is the problem?
Thanks

[2015-04-10 04:59] InderKumarRathore commented on #1
@pimeo I have done the changes 486ddff1936a34e5af706492748f2aa14464e4ac you can take the latest code.
Thanks for reporting.

[2015-04-10 06:30] InderKumarRathore commented on #1
@pimeo I have changed the code so that we can use this library as a pod.

[2015-04-10 06:30] #1 closed, assigned to nobody

[2015-04-10 09:21] pimeo commented on #1
Thanks !

[2015-09-29 13:21] InderKumarRathore opened #3 "Compatible for OSX, tvOS and watchOS"
Making library compatible for OSX, tvOS and watchOS.

[2015-12-15 17:18] alpennec opened #6 "Crash in getDeviceList() if Non-Pod users"
Hi,

With the last version 1.3.2, if we don't install using Cocoapods, we need to manually include the DeviceList.plist file. But the app crashes in getDeviceList() because the logic is based on the bundle (introduced in 1.3.2). Can you update your code please?
I had to roll back to 1.3.1 to fix this issue.

Thanks,
Axel

[2015-12-17 12:37] InderKumarRathore commented on #6
fixed

[2015-12-17 12:37] #6 closed, assigned to nobody

[2016-03-02 14:50] neilt opened #11 "backCameraStillImageResolutionInPixels switch statement has IPHONE_6S twice"
in DeviceGuru.swift in the function backCameraStillImageResolutionInPixels() the switch statement has cases IPHONE_6S and IPHONE_6S_PLUS mentioned twice (line 251 and line 269) with two different resolutions.  Of course the 2nd case will never be returned.

[2016-03-09 15:14] InderKumarRathore commented on #11
Removed, I guess the resolution seems different, I need to test these resolution for portrait mode. Will update the resolutions. Till the keep open this as a bug

[2016-03-16 13:51] lfarah opened #12 "Update README with examples"
I think that we could do a little bit better than just

[code]
##### Something like this would be a little bit better:

If you install from _CocoaPods_, you have to write

[code]

In your code:

[code]

~~I'll do some research, come up with a solution for this and create a PR.~~
[Updated with solution]

[2016-03-16 13:55] lfarah opened #13 "Missing example project"
Normally, this type of projects would have an example app, as you can see [here](https://github.com/MatthewYork/DateTools) and [here](https://github.com/diy/nsstringemojize).
I'll create an example and push a PR.

What do you think? :smiley:

[2016-03-17 05:30] lfarah opened #15 "Add table explaining hardware() and hardwareString()"
##### iPhone

| Device | hardware() | hardwareString() |
| --- | --- | --- |
| iPhone 2G | `IPHONE_2G` | `iPhone1,1` |
| iPhone 3G | `IPHONE_3G` | `iPhone1,2` |
| iPhone 3GS | `IPHONE_3GS` | `iPhone2,1` |
| iPhone 4 | `IPHONE_4` | `iPhone3,1` |
| iPhone 4 | `IPHONE_4` | `iPhone3,2` |
| iPhone 4 CDMA | `IPHONE_4_CDMA` | `iPhone3,3` |
| iPhone 4S | `IPHONE_4S` | `iPhone4,1` |
| iPhone 5 | `IPHONE_5`

[2016-03-17 05:48] #12 closed, assigned to nobody

[2016-03-17 05:49] InderKumarRathore commented on #15
Can you add this in readme file ?

[2016-03-17 05:51] lfarah commented on #15
Yeah, I'm just adding here in the issue so I can complete the table and then I'll push it.
One problem: the table is getting big. What do you think about creating a `HardwareList.md` with this table, and then linking that on the`README.md`?

[2016-03-17 05:53] InderKumarRathore commented on #13
@lfarah I don't think a project is required for this since there is nothing complex that can be explained using a sample project. It's just a line of code. However we can create a project which can cover all the features of the library. Let me give some time to think on it. Also I have to refactor it again and then I can add a sample as well.

[2016-03-17 05:54] InderKumarRathore commented on #15
That's a good idea but I think if the table is at the end of readme.md then it would be easier for the user to see it instead of navigating to the another link. :)

[2016-03-17 06:04] lfarah commented on #15
It makes total sense! I'm pushing it right now. :smile:

[2016-03-17 06:10] lfarah commented on #13
Hey, I get your point: it's just a couple lines of code. The thing is: _As a developer, I'm really lazy_. When testing a library, I just open the Example Project and run to see what happens. To test _Device Guru_ today, the dev has to download _DeviceGuru_, create a new project and then run.
In the end of the day, **it's all about lowering the experimentation and learning curves**
What are your th

[2016-03-17 06:10] lfarah commented on #13
And about refactoring the code, add issues and I can help you on that! :smile:

[2016-03-17 06:27] lfarah opened #17 "Instalation with too many instructions"
#### I didn't get why the installation is like this:
##### Installation

Go to [http://cocoapods.org](http://cocoapods.org) <br>
Search for `DeviceGuru` lib <br>
Copy the pod dependency and add that to your pod file. e.g.

[code]
#### I tested just with this line and it worked:

[code]

[2016-03-17 13:14] InderKumarRathore commented on #17
That will also work, but it will install the latest version of the pod. At times you need to freeze the library version to work with your project. the versioning works like this
major.minor.bug_fixes
If the last version is 1.2.3
and the new one is 1.2.4
it means the new version has some bug fixes, similarly if the new version has minor changes the it will be like 1.3.0
It's your coding style

[2016-03-17 13:15] #15 closed, assigned to nobody

[2016-03-17 13:19] InderKumarRathore commented on #13
Hmmmm that a problem, anyway having project seems good option now. I'm adding tasks which need to be done, if you can help me that would be cool

[2016-03-17 13:20] InderKumarRathore opened #18 "Move camera resolution in the plist"
Need to move all the resolution in the plist and the resolution of the device should come for Portrait mode.

[2016-03-17 13:20] InderKumarRathore commented on #13
#18

[2016-03-17 14:23] lfarah commented on #17
I get what you're talking about, but for devs who are starting to use CocoaPods, this might be too overwhelming.
I took a look at some libs and that's what I found out:
- [BluetoothKit](https://github.com/rasmusth/BluetoothKit) - `pod 'BluetoothKit', '~> 0.2.0'`
- [ENSwiftSideMenu](https://github.com/evnaz/ENSwiftSideMenu) - `pod 'ENSwiftSideMenu', '~> 0.1'`
- [Prephirences](https://github.com/phi

[2016-03-17 17:25] InderKumarRathore commented on #17
:+1: done changes

[2016-03-17 17:25] #17 closed, assigned to nobody

[2016-03-17 18:13] #13 closed, assigned to nobody

[2016-03-22 04:16] lfarah commented on #3
@InderKumarRathore Detecting watchOS right now is useless because there's only one device. I'm still doing some research about OSX

[2016-03-22 07:27] InderKumarRathore opened #21 "Back camera resolution is missing for lots of devices"

[2016-03-23 14:46] Rool opened #23 "Real number in DeviceList.plist"
Too lazy to make a pull request, but the DeviceList.plist contains:

`
<dict>
        <key>version</key>

[code]

[2016-03-24 11:38] InderKumarRathore commented on #23
Fixed, although 8.2 in floating point is represented as 8.19999999999999

[2016-03-24 11:38] #23 closed, assigned to nobody

[2016-03-24 11:39] #11 closed, assigned to nobody

[2016-03-28 13:58] howie-misfit opened #24 "xcode 7.3 support for Carthage"
I am using carthage and xcode 7.3, when i build it with carthage, it said:

**\* Skipped building DeviceGuru due to the error:
Dependency "DeviceGuru" has no shared framework schemes

Do you have plan for support carthage for xcode 7.3?

[2016-03-29 05:27] InderKumarRathore commented on #24
Never used Carthage and I read the document, I need more info to make this repo compatible with the Carthage

[2016-06-30 12:49] seawolf86 opened #25 "swift 3"
please update for swift 3

[2016-07-02 16:14] lfarah commented on #25
I just updated for Swift 3, but @InderKumarRathore has to create a `swift-3` branch first.
[Here's the code](https://gist.github.com/lfarah/59e188af09f9dcbe2960805a3989481e) for now.

[2016-07-03 08:28] InderKumarRathore commented on #25
Use below for swift 3

`pod 'DeviceGuru', '2.0.0.beta.1'
`

[2016-07-03 08:28] #25 closed, assigned to nobody

[2016-07-12 01:38] leancmscn opened #26 "how to get device token 64?"
how to get device token 64?

[2016-07-12 04:28] InderKumarRathore commented on #26
Do you mean device token for push notification?
If that's so then this lib doesn't provide that. For [APNS read their guideline](https://developer.apple.com/library/mac/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/Chapters/ApplePushService.html)

[2016-07-12 07:43] leancmscn commented on #26
yes.

[2016-07-12 07:43] #26 closed, assigned to nobody

[2016-07-14 07:20] leancmscn opened #27 "how to get system version like ios9.3.2?"
subject

[2016-07-14 07:23] InderKumarRathore commented on #27
This library doesn't provide this functionality since apple's framework does the same.
Check this [Stack Overflow question](http://stackoverflow.com/q/7848766/468724)

[2016-07-14 07:23] #27 closed, assigned to nobody

[2016-07-14 13:29] lfarah commented on #27
I think we could provide a Swifty version of this version checking since I found [these solutions](http://nshipster.com/swift-system-version-checking/) kinda ugly.

If @InderKumarRathore approves, I can work on that! 😄

[2016-08-26 04:34] InderKumarRathore commented on #27
@lfarah I think getting system os version is very simple and doesn't require any library for it. :)

[2016-09-21 05:17] #3 closed, assigned to nobody

[2016-09-28 02:38] szmichaelyb opened #33 "iPhone9.3 & 9.4 也是是iPhone和iPhone7 Plus?"
iPhone9.3 & 9.4 也是是iPhone和iPhone7 Plus?
![image](https://cloud.githubusercontent.com/assets/9857312/18898920/7d87e64e-8567-11e6-8438-c691239ff9cd.png)

[2016-10-05 13:08] InderKumarRathore commented on #33
iPhone9,2和iPhone9,4是iphone 7 plus

[2016-10-05 13:08] #33 closed, assigned to nobody

[2016-11-01 01:07] iwllyu opened #35 "1.4.0 CocoaPods"
I get

[!] Unable to satisfy the following requirements:

- `DeviceGuru (= 1.4.0)` required by `Podfile`

when trying to install DeviceGuru 1.4.0 with CocoaPods. Previously I had 1.3.5. I want to pick up the iPhone7 definitions but cannot upgrade to ~2.0.0 yet. I can pull in 1.3.5 or the latest but it won't let me put 1.4.0

edit: I should add this is with CocoaPods 0.39.0 - My project gets linker

[2016-11-27 03:35] InderKumarRathore commented on #35
Can you try `pod 'DeviceGuru', '~> 2.0'`

[2016-11-27 03:36] InderKumarRathore commented on #35
Why can't you use `2.0` it's because of swift3 ?

[2017-01-04 04:53] shahdhiren opened #36 "Add Apple TV and AppleWatch"
Can you please add AppleTV and AppleWatch devices as well in this list? This will complete your device model identification for entire iOS platform.

[2017-01-07 06:13] InderKumarRathore commented on #36
Hey Shahdhiren, I will try to get the list of apple devices from the internet

[2017-02-17 18:42] iwllyu commented on #35
sorry for the late response - yes.

But I'll be upgrading to swift3 probably within the next month so this won't be an issue in the future. Thanks!

[2017-02-17 18:42] #35 closed, assigned to nobody

[2017-04-27 09:57] Jeehut commented on #24
I just pushed a PR which fixes this issue for the iOS platform. If you want to install it via Carthage before it is merged, you can use my fork directly in your Cartfile:

[code]

[2017-04-27 10:03] InderKumarRathore commented on #24
Thanks @Dschee  for taking time to do it. Only readme file is left to be updated on Carthage

[2017-06-27 09:49] seawolf86 opened #40 "please add frontCameraStillImageResolutionInPixels"

[2017-07-17 18:08] #40 closed, assigned to nobody

[2017-07-27 09:51] EverGod opened #43 "Xcode 9 Beta Warnings"
Xcode compiler complains "Overlapping accesses to 'name', but modification requires exclusive access; consider copying to a local variable"

DeviceGuru.swift file (lines 23 & 25).
![warnings](https://user-images.githubusercontent.com/518485/28664727-0c26d270-72ca-11e7-8679-af83fd0e743f.png)

23. sysctl(&name, 2, nil, &size, &name, 0)
25. sysctl(&name, 2, &hw_machine, &size, &name, 0)

[2017-08-25 11:56] DarkoDamjanovic commented on #43
Just created a second "name" var. Like this:

[code]

Works for me.

[2017-09-15 18:01] phatmann commented on #43
@DarkoDamjanovic Can you submit a pull request?

[2017-09-15 18:03] DarkoDamjanovic commented on #43
@phatmann I am not sure if this fix is the correct way of doing it. Do you know more?

[2017-09-15 18:18] phatmann commented on #43
Seems like a perfect fix to me.

[2017-09-15 19:56] DarkoDamjanovic commented on #43
I just saw that there is already a pull request for this error. And it seems better then mine:

https://github.com/InderKumarRathore/DeviceGuru/pull/41

[2017-09-19 08:36] InderKumarRathore commented on #43
Hi guys sorry for the delay, but I was waiting for the GM Seed. I've downloaded the latest GM Seed xcode9 and merged the pull request #41

[2017-09-19 08:36] #43 closed, assigned to nobody

[2017-09-19 08:37] InderKumarRathore commented on #36
This is done

[2017-09-19 08:37] #36 closed, assigned to nobody

[2017-09-19 08:38] #24 closed, assigned to nobody

[2017-11-16 19:42] jeffscaturro-wf opened #46 "iPhone10,3 being marked as `iPhone X China/Japan`"
This could be a bug, but probably more so a clarification question.

I'm on `3.0.1` and running on my iPhone X I purchased through Verizon here in the United States. However the following device info is being printed:
[code]

What's the difference between China/Japan and Global?

[2017-11-29 06:55] InderKumarRathore commented on #46
Hi  @jeffscaturro-wf I take strings from https://everymac.com/systems/apple/iphone/index-iphone-specs.html

Scroll at the bottom and expand the description of each iPhone X and you can see the 3 types of iphone x

I don't know the difference between cn/global.

[2017-11-29 16:54] jeffscaturro-wf commented on #46
Thanks for the link, their names are a little more descriptive:
- `iPhone X (Verizon/Sprint/China/A1865)`
- `iPhone X (AT&T/T-Mobile/Global/A1901)`
- `iPhone X (Japan/A1902)`

Under their full spec page shows a more detailed explanation  (A1865's):
[code]

However, I noticed they did this for previous phones as well, yet DeviceGuru did not distinguish them like they are now doing for the 8s and Xs

[2017-11-30 02:49] InderKumarRathore commented on #46
Hi Jeff,
Surely we can do this.

On Wed, 29 Nov 2017 at 22:24, Jeff Scaturro <notifications@github.com>
wrote:

--

Best Regards,

Inder Kumar Rathore

LinkedIn <https://in.linkedin.com/in/inderkumarrathore> | GitHub
<https://github.com/InderKumarRathore> | StackOverflow
<http://stackoverflow.com/users/468724/inder-kumar-rathore> | Twitter
<https://twitter.com/ikr_303> | Facebook
<https://www.face

[2018-01-01 12:21] hcstudt opened #48 "Swift 4 generate @objc inference warning"
It seems that the use of Swift 3 @objc inference in Swift 4 mode is deprecated.
I get the warning message I recieve:
The use of Swift 3 @objc inference in Swift 4 mode is deprecated. Please address deprecated @objc inference warnings, test your code with “Use of deprecated Swift 3 @objc inference” logging enabled, and then disable inference by changing the "Swift 3 @objc Inference" build setting t

[2018-04-03 06:21] InderKumarRathore commented on #48
I ran the project and couldn't see the issue can you please send me the sample app.
 Thanks

[2018-04-03 07:11] InderKumarRathore commented on #46
This is present in 4.0.0

[2018-04-03 07:11] #46 closed, assigned to nobody

[2018-05-28 16:10] StartCrate opened #50 "Value of type 'Platform' has no member 'rawValue'"
Hi there, I get this error when trying to run the code

DeviceGuru has been imported and installed through cocoapods

This code has been copied pasted across.

The project does also use deignkit but I have not imported it within my viewcontroller so should be fine.

let deviceGuru = DeviceGuru()
let deviceName = deviceGuru.hardware()
let deviceCode = deviceGuru.hardwareString()
let platform = devi

[2018-07-17 09:21] Francescu opened #51 "iPhone10,6 not listed"
I get this console message:

Although I'm using 4.0.4 and I clearly see `10,6` in the list.

<img width="635" alt="capture d ecran 2018-07-17 a 11 20 33" src="https://user-images.githubusercontent.com/1433362/42808419-93ccd660-89b3-11e8-9f22-55c9b2132d70.png">

[2018-07-17 10:37] InderKumarRathore commented on #51
Hi Francescu,
Seems weird to me, can you please debug and check why this is not returning iphoneX?
You can use TestDeviceGuru workspace to test this repo. Also I've updated the logging, I doubt that your **iPhone10,6** has a space initially that's why it's not returning correct value. Please check if there is a space in your hardware string like

`
"iPhone10,6" == " iPhone10,6" // is always false.

[2018-07-17 10:47] InderKumarRathore commented on #50
This is because Platform enum doesn't have any type (Int or String) thus rawValue is not available to this enum. If you want to print it just use `platform` instead of `platform.rawValue`. e.g.
`print("\(deviceName) - \(deviceCode) - \(platform)")`

[2018-07-17 10:48] #50 closed, assigned to nobody

[2018-07-17 10:49] StartCrate commented on #50
Thank you :)

[2018-07-17 10:50] InderKumarRathore commented on #48
Although I was unable to find this issues still I've updated the xcode project, should be fixed in `4.0.5`

[2018-07-17 10:50] #48 closed, assigned to nobody

[2018-07-17 14:11] Francescu commented on #51
I think it's not linked to the device itself, I just got for an iPhone 6s

[code]

It's strange

[2018-07-17 14:15] InderKumarRathore commented on #51
Can you please confirm if the space is coming in the device string?
Also confirm the iOS versions on both the devices.

[2018-10-08 15:47] #51 closed, assigned to nobody

[2018-10-23 09:29] over140 opened #55 "iPhone11,6 not listed"
I get this console message:

Your device hardware string is: %@ iPhone11,6

[2018-10-23 09:33] InderKumarRathore commented on #55
You're using old version,  current pod version is `4.0.5`. The log message you posted belongs to older version new version has little different messaging. Just let me know if this is not the case. Otherwise you can close the issue.

[2018-10-25 01:35] InderKumarRathore opened #57 "Need to add watch series 4"

[2018-10-25 08:02] over140 commented on #55
It's ok!

[2018-10-25 08:02] #55 closed, assigned to nobody

[2018-10-25 10:28] gfoldv opened #58 "The hardware string is swapped for the XS Max Global and XS Max China"
According to multiple sources the iPhone11,4 belongs to the XS Max China and the iPhone11,6 belongs to the XS Max Global. I can also confirm that devices used in Germany are reporting iPhone11,6

https://gist.github.com/adamawolf/3048717
https://www.theiphonewiki.com/wiki/Models

[2018-10-25 11:53] InderKumarRathore commented on #57
Added the watch series 4

[2018-10-25 11:53] #57 closed, assigned to InderKumarRathore

[2018-10-25 12:12] InderKumarRathore commented on #58
I need to research more about it, the links provided by you tells that string has been inverted but my simulator XS max is giving 11,4. Give me some time to figure it out.

[2018-11-02 16:14] bashirsk opened #59 "Value of type 'Platform' has no member 'rawValue'"
Platform object no longer has a rawValue when i try calling it.

[2018-11-22 10:18] pballartzinio opened #60 "iPad8,1 not listed"
Hello!

Could you please add latest devices such as the new iPad Pro 11-inch (iPad8,1)?

Thank you very much!

[2018-11-23 05:41] Horse888 commented on #60
Also iPad 8, 5 : iPad Pro 12.9-inch, 3rd Generation

[2018-12-08 06:50] InderKumarRathore commented on #59
Can you please let me know the scenario where you need raw value?

[2018-12-08 07:40] InderKumarRathore commented on #60
Added new ipads in `5.0.1` version

[2018-12-08 07:40] #60 closed, assigned to nobody

[2018-12-10 19:56] ReesKlintworth commented on #58
https://ipsw.me/otas/iPhone11,6 also shows that iPhone11,6 is global. We're using DeviceGuru in a production app, and have confirmed that non-China market iPhone XS Max devices report as the Chinese model. Any way we can get these switched @InderKumarRathore?

[2019-01-09 00:33] InfAspire commented on #58
I believe the best thing to do is just mark them both as XS Max and not mark either variant as China. I created a pull request with the change with some more description of about my thoughts here:
[https://github.com/InderKumarRathore/DeviceGuru/pull/61](https://github.com/InderKumarRathore/DeviceGuru/pull/61)

[2019-03-24 07:35] InderKumarRathore commented on #58
@InfAspire thanks for adding base name in the pull request. I would also like to know any use case where Chinese or global is useful

[2019-07-17 17:55] AKogut91 opened #65 "device hardware string is|iPad11,3|""
Hello. Can you please added my device to library. Thanks
My device hardware string is|iPad11,3|"

[2019-09-22 07:21] #18 closed, assigned to nobody

[2019-09-22 07:21] #21 closed, assigned to nobody

[2019-09-22 07:21] #58 closed, assigned to nobody

[2019-09-22 07:21] #59 closed, assigned to nobody

[2019-09-22 07:21] InderKumarRathore commented on #65
Will update the lib for have all new device string

[2019-09-25 08:48] antonioreyna commented on #65
hello, can you please add iphone 11 and 11 pro?

[2019-09-25 09:07] vova9 commented on #65
Good day! Could you add a new device as was done here to see prices in general: https://github.com/InderKumarRathore/DeviceUtil

[2019-09-25 13:02] InderKumarRathore commented on #65
I started working on code generation once that is finished probably this Saturday and then I’ll push. I’m making life easier to automate everything and then we don’t have to update at 4-5 places when new device come. Just run the script and all the code will be generated

[2019-09-28 04:40] InderKumarRathore commented on #65
Pushed all new changes, let me know if I missed something

[2019-09-28 04:40] #65 closed, assigned to nobody

[2019-10-05 10:43] ghost opened #67 "Issue with MacOS App"
This is really a handy library. While building the app with support for MacOS (Catalina), below issue happens (DeviceGuru is included as pod dependency):

Signing for "DeviceGuru-DeviceGuru" requires a development team. Select a development team in the Signing & Capabilities editor.

Can you help to fix this issue?

[2019-10-23 07:36] mohanasundaramiosdev opened #68 "Dependency "DeviceGuru" has no shared framework schemes for any of the platforms: iOS"
Hi, I am getting this warning while install carthage.
Please check it.

"  Dependency "DeviceGuru" has no shared framework schemes for any of the platforms: iOS

If you believe this to be an error, please file an issue with the maintainers at https://github.com/InderKumarRathore/DeviceGuru/issues/new . "

[2019-10-23 16:15] InderKumarRathore commented on #68
Not sure what is the issue. I’m not good at Carthage will see this weekend.
If you know how to solve it, just create a PR I’ll merge it.

On Wed, 23 Oct 2019 at 2:36 PM, mohanasundaramiosdev <
notifications@github.com> wrote:

--

LinkedIn <https://in.linkedin.com/in/inderkumarrathore> | GitHub
<https://github.com/InderKumarRathore> | StackOverflow
<http://stackoverflow.com/users/468724/inder-kuma

[2019-10-24 08:23] mohanasundaramiosdev commented on #68
Okay, let me check.
I want to integrate with my project. During integration, I am getting below error.
" 'SrtConfig.h' file not found "

<img width="767" alt="Screenshot 2019-10-24 at 1 53 01 PM" src="https://user-images.githubusercontent.com/52210300/67466998-a44ab500-f665-11e9-9bfd-078d2f333048.png">

[2019-10-30 13:25] gecoool opened #69 "iPhone 11 pro max"
missing device:
iPhone12,5

[2020-02-05 11:30] gfoldv opened #71 "iPad 7th Generation Cellural missing"
iPad7,12 - iPad 7th Generation Cellular

[2020-04-03 01:36] InderKumarRathore commented on #71
available in version `6.0.4`

[2020-04-03 01:36] #71 closed, assigned to nobody

[2020-04-03 01:37] InderKumarRathore commented on #67
hey thanks for reporting, but it seems your local issue

[2020-04-03 01:37] #67 closed, assigned to nobody

[2020-04-03 01:37] InderKumarRathore commented on #68
not sure what it is

[2020-04-03 01:37] #68 closed, assigned to nobody

[2020-04-03 01:38] InderKumarRathore commented on #69
it's available

[2020-04-03 01:38] #69 closed, assigned to nobody

[2020-04-03 01:51] InderKumarRathore opened #73 "Version number is not consistent"
`iPad8,1` and `iPad8,10` has same version number `8.1`

Instead of keeping this in plist we can auto generate it using the string `iPad8,1` and make it integer instead of float.
So
iPad8,1 becomes 81
iPad8,10 becomes 810

[2020-04-17 07:05] Horse888 opened #74 "Would you please add swift package support?"
Very nice project, would you please add swift package manager support?

[2020-04-17 07:21] InderKumarRathore commented on #74
I thought about it, but seems very low use case. Will do it once I understand how spm works

[2020-04-17 08:08] Horse888 commented on #74
Thanks in advance! Sometimes cocoa pods is slow. So swift package manager is a good choice.

[2020-04-28 12:55] Kaspik commented on #74
@InderKumarRathore I believe the use case would be big, especially including this as a static library for example (to use it also in Extensions etc).

If you wanna learn more about it, sure! if you need help, let me know, I can open PR.

[2020-05-07 02:15] OhKanghoon opened #75 "iPhone SE(2nd generation) not listed"

[2020-07-12 10:55] InderKumarRathore commented on #74
Hey I had my investigation on this and found that in current release of swift(5.2) we don't have option to add resources in SPM but in coming release (beta) we do have. I'll add the support once Apple releases the GM version of Xcode 12

[2020-07-12 10:56] InderKumarRathore commented on #75
Added, thanks

[2020-07-12 10:56] #75 closed, assigned to nobody

[2020-10-26 11:39] draco1544 opened #79 "Add device Cpu name and clock speed"
Please Add device Cpu name and clock speed

[2020-10-28 18:03] witekbobrowski commented on #74
SPM support was implemented in #80 and is now waiting for approval from maintainer.

[2020-10-29 13:03] InderKumarRathore commented on #74
Thanks @witekbobrowski for creating the PR and thanks @ZuYuanZhou for creating this issue. It took long but we did it. 🎉

[2020-10-29 13:03] #74 closed, assigned to nobody

[2020-10-29 13:04] InderKumarRathore commented on #79
why do you care about this? any specific case where it's necessary

[2020-10-29 13:07] InderKumarRathore commented on #73
or we could create a struct

struct Version {
    let major: Int
    let minor: Int
}

for `iPad8,1` it will be Version(major: 8, minor: 1)`

[2020-11-01 09:02] InderKumarRathore commented on #73
implemented it in #83 and is available in `7.0.0`

[2020-11-01 09:02] #73 closed, assigned to nobody

[2020-11-05 13:11] minixT opened #85 "Project is not compiling - missing files"
Hi,

it looks like current master doesn't work. When I try to build the project I get this error:

[code]

I found that `Platform.swift` and `DeviceVersion.swift` files are not added to the project.

I'm using Xcode 12.1 and working on the code downloaded directly from the repository.

Thanks

[2020-11-09 13:24] InderKumarRathore commented on #85
Hi @minixT I'm able to run it. I downloaded code separately and am able to compile and run. I'm running `Example/DeviceGuruExample.xcodeproj` project
Can you please provide the steps?

[2020-11-09 14:53] minixT commented on #85
@InderKumarRathore, I try to build `DeviceGuru.xcodeproj`. I'm just opening this project in Xcode 12.1 and try to build `DeviceGuru` schema. I'm using Carthage to integrate my project with DeviceGuru and now it also doesn't work because Carthage also try to build schema from `DeviceGure.xcodeproj`.

[2020-11-10 02:00] InderKumarRathore commented on #85
I see, so for Carthage it's not working. Will fix it. I think I just need to add those files in project.

[2020-11-11 00:59] InderKumarRathore opened #86 "Improve the performance of the library"
I feel that reading from plist every time must be time consuming. Need to check how much time it takes to get the device name.

The idea to reduce the time are as follows

1. Save the device info in the user default keeping in mind that newer version of the lib can have updated names, enum etc. and update if there is new version.

2. Once we have updates info keep it in internal static variable an

[2020-11-15 10:30] InderKumarRathore commented on #85
can you please check now. i pushed the code

[2020-11-15 22:44] minixT commented on #85
I checked and now it works. Thank you!

[2020-11-16 15:00] #85 closed, assigned to nobody

[2020-11-19 20:46] minixT opened #89 "Missing bundle version when using Carthage"
Hi,
I was trying to upload an app to AppStore Connect with DeviceGuru framework built using Carthage and I received this error:

I checked Info.plist in the framework and version was actually missing. I checked also DeviceGuru project and it looks like bundle version is set to `$(CURRENT_PROJECT_VERSION)` but this option is empty in build settings.

Can you fix this by adding some value to  CURREN

[2020-11-20 00:15] InderKumarRathore commented on #89
I added the bundle version `7.0.1` same as pod version. I hope this should work

[2020-11-20 08:26] minixT commented on #89
@InderKumarRathore, it looks like it didn't help. I tested this and updating this value only in info.plist is not enough. Only after setting `CURRENT_PROJECT_VERSION` option in build settings I was able to  receive framework with CFBundleVersion.

[2020-11-20 11:50] InderKumarRathore commented on #89
Can you please raise a PR?

[2020-11-21 14:52] InderKumarRathore commented on #89
fixed

[2020-11-23 09:30] minixT commented on #89
Now it works. Thank you!

[2020-11-23 09:30] #89 closed, assigned to nobody

[2020-12-14 11:00] notoroid opened #90 "iPad Air 4 models not listed"

[2020-12-14 13:55] notoroid opened #92 "iPhone simulator support for Apple M1 chip"
[#90](https://github.com/InderKumarRathore/DeviceGuru/issues/90) issue with unknown hardware decision in iPhone simulator on mac with Apple M1.

This can be fixed by adding "arm64" to the simulator.

[2020-12-24 03:40] #90 closed, assigned to nobody

[2020-12-24 03:40] #92 closed, assigned to nobody

[2020-12-24 03:40] #79 closed, assigned to nobody

[2021-03-24 14:10] gfoldv opened #95 "iPad 8th Generation missing"
iPad11,7

[2021-04-06 14:53] bruno-hcr opened #96 "Crash on DeviceGuru.init()"
Hello!

Basically what's happening is when I'm debugging my application, sometimes this crash occurs. The most part happens when I put a break point in some line of code or try to stop on a break point.

We also discovered that this crash happens on production code some times.

We're testing on simulator (iPhone 11 Pro 14.4)

The lib is up to date on 7.0.1 version, using cocoapods.

<img width="11

[2021-04-06 15:09] InderKumarRathore commented on #96
Seems like plist is unable to convert to NSDictionery

[2021-04-06 15:24] bruno-hcr commented on #96
This is strange, because it happens few times

[2021-04-06 15:54] bruno-hcr commented on #96
Another weird thing it's when I'm trying to print the object exactly equals when crash occurs, it returns a valid object

<img width="1404" alt="Screen Shot 2021-04-06 at 12 53 21" src="https://user-images.githubusercontent.com/21697643/113740458-163a8100-96d7-11eb-820d-1d0fe7854598.png">

[2021-04-23 13:28] AnshulMindbody opened #97 "Does ATT restrict the use of device guru?"

[2021-06-30 19:56] fuckyouhoe3 opened #98 "Guru"

[2021-11-18 14:38] valentary opened #100 "Could you bump the version for new iPhones?"
Hello,

I see the iPhone 13 family has been added but a new version hasn't been issued

[2021-11-20 07:15] InderKumarRathore commented on #95
added

[2021-11-20 07:15] #95 closed, assigned to nobody

[2021-11-20 07:16] InderKumarRathore commented on #97
this has nothing to do with carrier

[2021-11-20 07:17] InderKumarRathore commented on #100
done, thanks for patience, I didn't have access to my laptop so was unable to do it. Sorry for the delay

[2021-11-20 07:17] #100 closed, assigned to nobody

[2021-12-17 23:00] pnome opened #101 "Bump version for SPM to include iPhone 13"
I was using the 'iPhone13Family' branch because it had the iPhone 13 devices in it. That branch has now been removed, but SPM can only seem to find version 7.0.1 and not 7.0.3

I believe 7.0.3 is the version that includes iPhone 13 devices.

Hoping this is a quick fix.
Thanks,
Joe

[2021-12-18 01:50] InderKumarRathore commented on #101
Hey the 7.0.3 version is already pushed, plz check the tags in repo. Reset the cache in your project because I can add latest version in TestApp.

[2021-12-18 12:30] pnome commented on #101
Hi,
Thanks for the quick response. I tried everything I can think of and it's still not finding it.
See what I did here - https://www.loom.com/share/24f5c96db1f54bfc82e229db4c7de6c4

Is there something I'm missing?

[2021-12-18 14:11] InderKumarRathore commented on #101
That looks strange. Can you remove the DeviceGuru package and re add it. Also if you could, then please try to use it new project.
I tried different scenarios to reproduce it but couldn't do it.

[2021-12-18 14:22] InderKumarRathore commented on #101
Meanwhile if nothing works then you can use master branch. It should have latest code

[2021-12-18 14:53] InderKumarRathore commented on #101
Just noticed that you're using a fork of original repository. Please use this url instead

**https://github.com/InderKumarRathore/DeviceGuru**

![image](https://user-images.githubusercontent.com/352443/146645294-4abd1e95-61aa-4bad-8f12-491918c4d138.png)

[2021-12-18 14:58] #101 closed, assigned to InderKumarRathore

[2021-12-18 15:01] InderKumarRathore commented on #96
Are you still facing this issue? As I haven't faced it

[2021-12-18 15:01] #97 closed, assigned to nobody

[2021-12-18 22:27] pnome commented on #101
Thank you!

[2022-01-18 19:55] alpha0010 opened #102 "Device name consistancy"
There seems to be a wide variety of styles selected to name devices.  Are you interested in me preparing a PR to make this more uniform?  Naming scheme selected to be similar to appearance in Apple.

Some examples:

- *Current*
  - *Recommended*
- iPad Air 3 (Wi-Fi)
  - iPad Air (3rd generation)
- iPad (8th generation) WiFi+Cellular
  - iPad (Wi-Fi + Cellular, 8th generation)
- iPad Mini Retina (W

[2022-01-19 03:59] InderKumarRathore commented on #102
Looks neat, go ahead. Please update the generator plist and then run the script to automatically generate the code

[2022-02-25 08:00] #102 closed, assigned to nobody

[2022-04-13 12:23] pirklbauer31 opened #104 "iPhone SE (3rd Gen) is not listed"
When running the DeviceGuru Library in my App on the iPhone SE (3rd Generation) Simulator I got the following Log output:

[code]

I am running Version 8.0.0 of the Device Guru Library via Cocoapods.

I hope i didn't miss an already open issue on this topic!

[2022-04-13 12:35] InderKumarRathore commented on #104
Thanks for adding it. Will update the list and create new version

[2022-04-14 06:08] InderKumarRathore commented on #104
latest changes pushed to 8.0.1

[2022-04-14 06:08] #104 closed, assigned to nobody

[2022-04-20 13:38] pirklbauer31 commented on #104
Thanks for the update!

[2022-04-22 18:15] cliffjoyce opened #105 "Provide Objective-C examples?"
I've been using DeviceUtil which is being replaced by DeviceGuru.

Sadly, I'm not a Swift guru, so am hoping someone can provide examples on how to use DeviceGuru in my Objective-C project.  Thanks.

[2022-05-21 10:35] #86 closed, assigned to InderKumarRathore

[2022-05-25 04:08] InderKumarRathore commented on #105
I've no intention to support objective-c, but this question is more related to swift.
Here is how you can use any swift code/class in objective-c

First create a swift class

[code]

Usage
[code]

[2022-05-31 19:52] cliffjoyce commented on #105
Thanks so much for this help!

In case it helps any other Swift newbies, I created a new source code file called 'DeviceGuruObjc.swift', and added that to my project.  Here is the contents of the DeviceGuruObjc.swift file:

import Foundation

@objc class DeviceGuruObjc: NSObject {

	private	let	deviceGuru	= DeviceGuruImplementation()

	@objc func hardwareDescription() -> String? {
		try? deviceGur

[2022-05-31 20:09] cliffjoyce commented on #105
For other Swift newbies...

I added all the DeviceGuru source files to my project, and added these includes to my Objective-C '.m' files where I wanted to call DeviceGuruObjc:

`#import "MyProjectName-Swift.h" // provides access to Swift classes like DeviceGuru`

Then to call DeviceGuruObjc's two functions, I did this:

`DeviceGuruObjc *deviceGuru = [DeviceGuruObjc new];`
`NSLog([deviceGuru hardwa

[2022-05-31 20:24] #105 closed, assigned to nobody

[2022-06-01 02:24] InderKumarRathore commented on #105
Thank for more information

[2022-09-22 12:25] valentary opened #107 "New iPhone 14 devices"
Hello, is it possible to update with the latest iPhone 14 devices?

Thanks

[2022-09-26 21:39] pnome commented on #107
I'm waiting for this too. Thanks.

[2022-09-27 07:33] InderKumarRathore commented on #107
Do you folks has the identifiers of 14 series? Otherwise I have to get it through online

[2022-09-27 07:37] InderKumarRathore commented on #107
https://www.everymac.com this shows id is pending
If you guys have access to this data do let me know or raise a PR

[2022-09-27 08:37] valentary commented on #107
I have the ids for the iPhone 14 Pro and iPhone 14 Pro Max

iPhone 14 Pro : 'iPhone15,2'
iPhone 14 Pro Max : 'iPhone15,3'

[2022-09-27 17:27] pnome commented on #107
If I print out `DeviceGuruImplementation().hardwareString` when running on iPhone 14 Pro simulator it tells me 'iPhone15,2'
If I do it for iPhone 14 Plus it tells me 'iPhone14,8'
For iPhone 14 it tells me 'iPhone14,7'
Where are these coming from? Would they be the same for the physical devices?

[2022-09-30 16:14] #96 closed, assigned to nobody

[2022-09-30 16:41] InderKumarRathore commented on #107
Yes the simulator and real device gives the same string. And I have added all 14 series to version `10.0.1`

[2022-09-30 16:42] #107 closed, assigned to nobody

[2022-10-23 15:14] InderKumarRathore opened #109 "[Performance] Split the plist into platform specific to gain some performance"
Right now (Oct 2022) the size of the file is 19.2 KB which is not that significant, but eventually it will grow. I think we should start thinking to split this plist based on multiple platforms. It might not be a huge improvement to iPhone/iPad but can be significant to watch OS

Although I already made improvement by loading the plist file only first time and subsequent information is read from u

[2022-11-11 14:37] alpha0010 opened #110 "M1 support"
Was looking in to how this might work.  With the current implementation, running on an M1 mac appears to always yield `iPad8,6`.  However sentry seems to be able to detect the difference with [their implementation](https://github.com/getsentry/sentry-cocoa/blob/7.30.2/Sources/Sentry/SentryDevice.mm).  I lack much time to work on this currently, but here is a start, in case that is useful.

<detail

[2022-11-16 07:41] teerapap opened #111 "DeviceList.plist not found when import via Carthage"
Hi

I was using DeviceGuru v7.0.3.  Now I'm upgrading to DeviceGuru v10.0.2 and found a problem.

When I call `try DeviceGuruImplementation().hardwareDescription()`

It throws this error `deviceNotPresentInThePlist("iPhone13,2")`

I debug and found that `DeviceList.plist` is not found anywhere.   It is not included in the built xcramework at `Carthage/Build/DeviceGuru.xcframework`

Thanks

[2022-11-16 07:44] InderKumarRathore commented on #111
Thanks for raising it, I have not worked with `Carthage` and someone raise PR to make this lib compatible with `Carthage`. I don't have much experience but if you can fix this and raise a PR that would be nice. Can you try with a sample project

[2022-11-16 07:46] teerapap commented on #111
@InderKumarRathore ok. noted. I'll submit a PR later. Thanks.

[2022-11-21 05:01] #111 closed, assigned to nobody